body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #ffdde1, #ee9ca7);
    overflow-x: hidden;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    color: white;
}

.motivo {
    background: white;
    color: black;
    padding: 12px;
    margin: 6px;
    border-radius: 12px;
    animation: fade 0.4s ease;
}

@keyframes fade {
    from {opacity:0; transform:translateY(10px);}
    to {opacity:1; transform:translateY(0);}
}

/* CORAÇÕES */
.heart {
    position: fixed;
    top: -10px;
    font-size: 20px;
    animation: fall linear infinite;
    pointer-events: none;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}